.background {
    background-color: black;
}

.AllTasksPage {
    display: flex;
    padding: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    background-color: black;
    height: 90vh;
    width: 100%;
    overflow: scroll;
    @media screen and (max-width: 600px) {
        background-color: lightcyan;
        height: 100%;
    }
}

.all-tasks-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    h1 {
        margin: 0 0 0 25px;
    }

    p {
        color: white;
        padding: 10px;
    }
}







