.background {
    background-color: black;
}

.AllTasksPage {
    padding: 10px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    grid-auto-flow: column;
    flex-wrap: wrap;

    background-color: black;
    height: 100vh;
}

.all-tasks-header {
    display: flex;
    justify-content: space-between;

    h1 {
        margin: 0 0 0 25px;
    }

    button {
        margin: -10px 10px 0 0 ;
        color: lightskyblue;
        background-color: transparent;
        border: none;
        font-size: 40px;
    }
}





