.background {
    background-color: black;
}

.AllTasksPage {
    padding: 10px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    grid-auto-flow: column;
    flex-wrap: wrap;

    background-color: black;
    height: 100vh;
}



