//     T A S K   C O L O R S 

.red-task {
    background-color: var(--red);
    color: white;
}

.salmon-task {
  background-color: var(--salmon);
}

.orange-task {
    background-color: var(--orange);
    // color: orangered;
}
.bright-orange-task {
    background-color: var(--brightOrange);
    // color: orangered;
}

.yellow-task {
    background-color: var(--yellow);
}

.teal-task {
  background-color: var(--teal);
}

.mint-task {
  background-color: var(--mint);
}

.blue-task {
    background-color: var(--lightBlue);
    // color: blue;
}

.form {
    h1 {
        margin: 50px;
    }
}

.dropdowns {
    display: flex;
    
    div {
        padding-right:15px;
    }
}
