.form header {
    padding-bottom: 20px;
    color: var(--extraLightBlue);
    font-size: 20px;
}

.form input {
    border-radius: 3px;
    width: 400px;
    padding: 5px 5px 5px 8px;
    border: 1px solid var(--orange);
}

.form-page {
    background: black;
    height: 100vh;
}

.login-page {
    background: black;
    height: 100vh;
}

.form.logo {
    color: var(--extraLightBlue);
    padding: 150px 0 80px 15px;
    margin: 200px 0 0 0;
    font-family: "Sunset Boulevard", 'Monoton', cursive;
    font-weight: 100;
    font-size: 80px;
    letter-spacing: 21px;
    text-align: center;

}

.form.form-form {
    background-color: black;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}



.form.red {
    // width: 410px;
    margin-top: 120px;
    height: 14px;
    background-color: var(--red);
    border-top: .5px solid darkolivegreen;
}

.form.orange {
    height: 13px;
    background-color: var(--orange);
    border-top: 1px solid var(--seafoam);
}
.form.seafoam {
    height: 12px;
    background-color: var(--seafoam);
    border-top: 1px solid var(--seafoam);
}
.form.salmon {
    height: 12px;
    background-color: var(--salmon);
    border-top: 1px solid var(--seafoam);
}
.form.black {
    height: 12px;
    background-color: black;
    border-top: 1px solid var(--seafoam);
}

.form.form-bottom {
    display: flex;
    justify-content: space-between;
    
    a {
        color: var(--teal);
        padding-top: 10px;
    }
    button {
        border: 1px solid var(--orange);
        border-radius: 2px;
        background-color: black;
        color: var(--extraLightBlue);
    }
}