
.month-header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-content: center;

    .logo {
        color: white;
        padding-left: 10px;
        margin: 0;
        align-self:center;
        font-family: "Sunset Boulevard", 'Monoton', cursive;
        font-weight: 100;
        font-size: 45px;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }

    .nav-link {
        color: white;
        padding: 0 5px;
        text-decoration: none;
    }

    .calendar-nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .current-date {
        color: white;
    }

    .row {
        &:nth-child(2) {
            text-align: center;
        }

        &:last-child {
            text-align: right;
        }

        h1 {
            font-size: 40px;
        }

        .fas {
            font-size: 20px;
            color: lightsalmon;
            padding: 15px;

            &:hover {
                color: orange;
            }
        }
    }
    .fa-user{
        color: white;
        justify-self: end;
        align-self: center;
        padding: 10px;
        font-size: 20px;
    }
}


.red {
    height: 10px;
    background-color: var(--red);
    border-top: .5px solid darkolivegreen;
}

.orange {
    height: 8px;
    background-color: var(--orange);
    border-top: 1px solid var(--seafoam);
}
.seafoam {
    height: 9px;
    background-color: var(--seafoam);
    border-top: 1px solid var(--seafoam);
}
.salmon {
    height: 8px;
    background-color: var(--salmon);
    border-top: 1px solid var(--seafoam);
}
.black {
    height: 8px;
    background-color: black;
    border-top: 1px solid var(--seafoam);
}





