.component {
  /* border: 1px solid pink; */
}


/*     F O N T   S T Y L E S     */
h1 {
  color: lightskyblue;
}




/*     T A S K   I N P U T     */
.new-task-input-box {
  width: 90%;
  height: 200px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid blue;
  background-color: white;
}

.input {
  padding: 5px;
}

.task {
  height: 12px;
}