:root {
  --red: #E7311E;
  --salmon: rgb(241, 183, 170);
  --orange: rgb(248, 183, 43);
  --brightOrange: #F7C823;
  --yellow: rgb(255, 241, 87);
  --seafoam: #259392;
  --teal: #14d3b3;
  --mint: #9ef0e2;
  --lightBlue: #D3FDFF;
  --extraLightBlue: #EDFFFF;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
