:root {
  --red: #E7311E;
  --salmon: #E79A89;
  --orange: #E8A822;
  --brightOrange: #F7C823;
  --yellow: #FFEB00;
  --seafoam: #259392;
  --lightBlue: #D3FDFF;
  --extraLightBlue: #EDFFFF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
